@import "/include/fancybutton.css";
@import "/include/body.css";
@import "/include/hyperlink.css";


body{
    background-image: linear-gradient(to bottom, #00ff22b0, rgba(0, 222, 48, 0.439) 10%, #00d78f48, #4381aa31, #5c5c5c27);
}

#content-container a{
    color: rgb(255, 206, 55);
    font-weight: bold;
}

#content-container h1, #content-container h2, #content-container h3{
    color: white;
    font-size: 200%;
}

#content-container p, #content-container li{
    font-family: Helvetica, Sans-serif;
    font-size: 110%;
    text-wrap: normal;
}


#content-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.75fr);

    @media (max-width: 414px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 0.5fr);
    }
}
#content-container div p, #content-container div h3{
    margin-left: 5%;
    margin-right: 5%;
}

#sci-marketing{
    font-size: 110%;
    text-align: justify;
    text-wrap: normal;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

#block-1, #block-2, #block-3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#block-3 {
    grid-column: span 2 / span 2;

    @media (max-width: 414px) {
        grid-column: span 1 / span 1;
    }
}

#block-4 {
    grid-column: span 2 / span 2;

    @media (max-width: 414px) {
        grid-column: span 1 / span 1;
    }
}


#button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.go-to-form{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}
