html{
    scroll-behavior: smooth;
}

#content-container p, #content-container h1, #content-container h2{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#block-1, #block-2, #block-3, #block-4, #block-5{
    margin-bottom: 25%;
}


#button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.go-to-form{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}

#box-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.scroll-fade-box{
    text-align: center;
    box-shadow: 0 0 15px 5px rgb(80, 200, 80);
}
.scroll-fade-box span{
    font-size: 500%;
}
.scroll-fade-box p a{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
