h1{
    font-size: 200% !important;
}
h2{
    font-size: 150% !important;
}


#content-container p, #content-container h1, #content-container h2{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#block-1, #block-3{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#block-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 5%;
    margin-right: 5%;
}

#button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.collapsible{
    margin-top: 2%;
}
.c-content{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.c-content span{
    font-size: 500%;
    padding: 10px 10px;
}
