#appwarn-icon{
    position:fixed;
    top:20%;
    padding:5px;
    border: var(--fg) 2px solid;
    border-radius: 0 10px 10px 0px;
    z-index:9;
    font-size:40px;
}
#appwarn-msg{
    position:fixed;
    top:20%;
    margin: auto;
    left:0;
    transform:translateX(-100%);
    width:80%;
    padding:2%;
    border-radius:20px;
    background-color: var(--bg);
    box-shadow: 0 5px 10px 5px var(--header-shdw);
    z-index:8;
    opacity: 0;
    transition:opacity 0.3s,left 0.3s,transform 0.3s;
}
#appwarn-icon:hover + #appwarn-msg{
    left:50%;
    opacity: 1;
    transform: translateX(-50%);
    transition:opacity 0.3s,left 0.3s,transform 0.3s;
}