:root{
    --fbtn-bg: linear-gradient(to left,transparent 20%, rgba(255, 255, 255, 0.5) 50%, rgba(50,200,50,0.9)) right;
}
.light{
    --fbtn-bg: linear-gradient(to left,transparent 20%, rgba(0, 0, 0, .5) 50%, rgba(170,255,170,1)) right;
}

.fancy-button{
    align-self: center;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font: bold 20px/1 Kanit, sans-serif;
    padding: 3ch;
    border: 2px solid;
    border-radius: 32px;   
    background: var(--fbtn-bg);
    background-size: 500%;
    box-shadow: 0 0 5px 5px rgb(180,180,180,0.3);
    transition: .3s ease-out;
}
.fancy-button:hover {
    background-position: left;
    animation: fpulse 0.8s ease-out forwards;
}
@keyframes fpulse{
    0%{
        color: white;
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 1);
    }
    50%{
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0), 0 0 0 10px rgb(0, 255, 0, 0.3), 0 0 0 20px rgba(150, 255, 150, 0.1);
    }
    100%{
        color: black;
        box-shadow: 0 0 0 7px rgba(0, 0, 0, 0), 0 0 0 12px rgb(0, 255, 0, 0), 0 0 0 25px rgba(150, 255, 150, 0.0);
    }
}