h1{
    font-size: 150%;
    text-align: center;
}

h2{
    font-size: 100%;
    text-align: center;
}   

.content{
    padding-left: 5%;
    padding-right: 5%;
}

.content p{
    font: 90% Helvetica, Sans-serif;
    text-align: left;
}
