header{
    position: fixed;
    margin: 0% auto;
    left: 0;
    right: 0;
    z-index: 9;

    transform: translateY(0);
    width: 100%;

    transition: transform 0.8s, width 0.8s;
}
#main{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: var(--header-bg);
    box-shadow: 0px 5px 15px 2px var(--header-shdw);

    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    transition: grid-template-columns 0.5s, grid-template-rows 0.5s, background-color 0.5s, box-shadow 0.5s, border-radius 0.5s;

    @media (max-width: 480px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        
        padding-bottom: 10px;
    }
}
#navmain{
    grid-column: 2;
    grid-row: 1;
    width: 100%;

    padding-left: 3px;
    padding-right: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    
    @media (max-width: 480px) {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
}
#navdown{
    display: flex;
    justify-content: center;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    max-height: 50px;

    margin-left: 10%;
    margin-right: 10%;
    padding: 5px 10px 5px 10px;
    border-radius: 0px 0px 9px 9px;
    z-index: 2;
    
    box-shadow: 0px 9px 15px 2px var(--header-shdw);
    background-color: var(--header-bg);
    
    transition: background-color 0.5s, max-height 0.4s, padding 0.1s linear;
}
.navup{
    max-height: 0 !important;
    padding: 0 10px 0 10px !important;

    transition: max-height 0.4s linear, padding 0.1s linear;
}

#header-logo{
    grid-column: 1;
    height: 64px;
    width: 64px;
    object-fit: contain;

    @media (max-width: 480px) {
        height: 32px;
        width: 32px;
    }
}

#theme-container{
    grid-column: 3;
    display: flex;
    justify-content: center;

    @media (max-width: 480px) {
        grid-column: 2;
    }
}

header a{
    text-align: center;
    background-color: transparent; 
    
    border: none;
    border-radius: 12px;
    padding: 8px 10px;

    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;

    font-family: Arial, sans-serif;
    font-size: 1em;
    color: var(--fg);

    transition: color 0.5s;

    @media (max-width: 480px) {
        grid-row-start: 2;
    }
}
header #navdown a{
    flex: 1;
}

@media (max-width: 480px) {
    #hb-home, #hb-fc, #hb-more{
        margin-top: 10px;
    }
}

header a:hover{
    cursor: pointer;
    padding: 6px 10px;
    border-bottom: 2px solid var(--header-btn-brd);
    border-top: 2px solid var(--header-btn-shdw);
    box-shadow: 0 0 10px 3px var(--header-btn-shdw);
}

#theme {
    display: none;
}
#theme:hover + label {
    cursor: pointer;
    font-weight: bold;
}
#theme + label::before {
    content: "\f186";
    font-family: FontAwesome;
    font-size: 16px;
}


.floating{
    transform: translateY(3vh);
    width: 60%;

    transition: transform 0.8s, width 0.8s;
}
