:root{
    --ddown-bg:rgb(0,80,20);
    --ddown-hov:rgb(0,60,0);
    --ddown-cbg:rgb(0,50,10);
}
.light{
    --ddown-bg:rgb(190,210,200);
    --ddown-hov:rgb(140,190,140);
    --ddown-cbg:rgb(186,218,186);
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 256px;
    height: 256px;
    margin: 10px;
    padding: 10px;
    border-radius: 16px;
    border: 2px solid var(--header-shdw);
    box-shadow: 0 5px 8px 3px var(--header-shdw);
}

.ddown div{
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    align-items: center;
    color: var(--fg);
    background-color: var(--ddown-bg);
    width: 100%;
    margin: 0;
    padding: 2ch 0px;
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s;
}
.ddown h3{
    grid-column: 2;
}
.ddown div::after{
    grid-column: 3;
    content: "+";
    font-size: 26px;
    font-weight: bolder;
}
.ddown p{
    margin: 0;
    max-height: 0;
    padding: 0 1ch;
    overflow: hidden;
    background-color: var(--ddown-cbg);
    transition: max-height 0.3s, padding 0.4s;
}
.ddown:hover div{
    background-color: var(--ddown-hov);
}
.ddown:hover div::after{
    content: "-";
}
.ddown:hover p{
    max-height: 150px;
    padding: 1ch;
    transition: max-height 0.3s, padding 0.4s;
}