h1{
    font-size: 200% !important;
    text-align: center;
    margin-top: 5%;
}
h2{
    font-size: 120% !important;
}

#posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    min-height: 70vh;
    margin-bottom: 5%;
}

#search-bar{
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;

    background-color: var(--input-bg);
    border-radius: 25px;
    border: 1px solid var(--fg);

    transition: background-color 0.5s;
}
#search-bar:focus-within{
    outline: 2px solid rgb(250, 200, 0);
}
#search-input{
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--input-fg);
    font-size: 110%;
    padding: 6px;
    border-right: 1px solid var(--fg);
    transition: color 0.5s;
}
#search-input::placeholder{
    color: var(--input-ph);
    transition: color 0.5s;
}
#search-button, #clear-search{
    background-color: transparent;
    color: var(--fg);
    border: none;
    font-size: 120%;
    padding: 6px;
}
#search-button:hover, #clear-search:hover{
    color: #777;
}
textarea:focus, input:focus{
    outline: none;
}
