#content-container h1, #content-container h2, #content-container h3{
    color: white;
    font-size: 200%;
}

#content-container p{
    font-family: Helvetica, Sans-serif;
    font-size: 100%;
    text-wrap: normal;
}


#content-container p, #content-container h3{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#sci-marketing{
    font-size: 110%;
    text-align: justify;
    text-wrap: normal;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
}


#button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.go-to-form{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}

#box-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.scroll-fade-box{
    text-align: center;
    box-shadow: 0 0 15px 5px rgb(80, 200, 80);
}
.scroll-fade-box p{
    font-size: 120% !important;
    font-weight: bold;
}
.scroll-fade-box span{
    font-size: 500%;
}
