body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    opacity: 0;
    /* background-color: rgb(80, 80, 80); */
    background-color: rgb(40, 40, 40);
    
    color: rgb(235, 235, 235);
}

h1, h2, h3, h4, h5, h6{
    color: white;
}
h1{
    font-family: arvo, serif;
}
h2{
    font-family: garet, sans-serif;
}
p{
    font-family: Helvetica, Sans-serif;
    font-size: 18px;
    text-align: center;
    text-wrap: normal;
}
