body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    opacity: 0;
    background-color: var(--bg);
    color: var(--fg);

    transition: background-color 0.5s, color 0.5s, opacity 0.5s ease-in;
}

h1{
    font-family: arvo, serif;
}
h2{
    font-family: garet, sans-serif;
}
p{
    font-family: Helvetica, Sans-serif;
    font-size: 18px;
    text-align: center;
    text-wrap: normal;
}

.hyperlink{
    color: var(--link);
    font-weight: bold;
}

.hyperlink:hover{
    color:rgb(205, 223, 210);
}
