/*
Use this for pages which contain amostly text with little formatting
required. For example, tos, privacy, cookies etc.
*/

@import "/include/body.css";
@import "/include/hyperlink.css";

#title {
    margin-left: 10%;
}

#content{
    padding-left: 5%;
    padding-right: 5%;
}

#content h3{
    margin-left: 10%;
}

#content p{
    font: 90% Helvetica, Sans-serif;
}
