.scroll-fade-box{
    flex: 1;
    padding: 2%;
    border-radius: 20px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    opacity: 0;
    
    background-color: rgb(70, 70, 70);
    color: rgb(213,219,215);

    /* center align the child elements in the vertical direction */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    justify-items: center;
    align-items: center;
}
.scroll-fade-box.hidden{
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.75s ease-in-out;
}
.scroll-fade-box.visible{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease-in-out;
}
.scroll-fade-box h3{
    font-family: Georgia, serif;
    font-size: 100%;
}
.scroll-fade-box p{
    font-family: Helvetica, Sans-serif;
    font-size: 100%;
}