:root{
    --bg: rgb(225, 225, 225);
    --fg: #000000;
    --header: rgb(10, 195, 10, 0.3);
    --header-b: rgb(0, 0, 0);
    --header-s: rgba(0, 0, 0, 0.2);
    --link: rgb(53, 151, 63);
    --input-bg: rgb(235, 235, 235);
    --input-ph: rgb(100, 100, 100);
    --input-fg: rgb(0, 0, 0);
    --button-bg: linear-gradient(to left,rgba(0,0,0,0) 20%, rgba(0, 0, 0, .5) 50%, rgba(170,255,170,1)) right;

    --ddown-bg: rgb(190, 210, 200);
    --ddown-hov: rgb(140, 190, 140);
    --ddown-cbg: rgb(210, 225, 210);
}

.dark{
    --bg: rgb(40,40,40);
    --fg: rgb(225,225,225);
    --header: rgb(10, 60, 10);
    --header-b: rgb(0, 250, 0);
    --header-s: rgba(0, 255, 0, 0.2);
    --link: rgb(73, 191, 73);
    --input-bg: rgb(60, 60, 60);
    --input-ph: rgb(200, 200, 200);
    --input-fg: rgb(255, 255, 255);
    --button-bg: linear-gradient(to left,rgba(0,0,0,0) 20%, rgba(0, 0, 0, .5) 50%, rgba(50,250,50,0.9)) right;

    --ddown-bg: rgb(20, 50, 30);
    --ddown-hov: rgb(30, 70, 50);
    --ddown-cbg: rgb(40, 60, 40);
}
